.b-block5{
	height:300px;

	.i-btn_block5{
    width: 45px;
    height: 45px;
   	position: absolute;
    cursor:pointer;
   	top: 70px;
   	opacity: 0.25;
    background-repeat: no-repeat;
    background-position:center;
  }
  &_content_carossel{
  	position:relative;
  	margin-top:20px;

		&_right{left:-61px;background-image: url('../../i/btn_slider_bk3_left.png');}
 		&_left{right:-61px;background-image: url('../../i/btn_slider_bk3_right.png');}
  }

	&_content_slick{
		height:160px;

		.i-slick5_elem{
			height:190px;
			line-height:190px;
			text-align:center;
			cursor:pointer;
				img{margin:auto;display:inline;}
		}
	}

}