.b-block3{
	height:420px;

	.i-btn_block3{
    width: 45px;
    height: 45px;
   	position: absolute;
    cursor:pointer;
   	top: 105px;
   	opacity: 0.25;
    background-repeat: no-repeat;
    background-position:center;
  }
	&_content_carossel{
		position:relative;

		&_btn_right{left:-61px;background-image: url('../../i/btn_slider_bk3_left.png');}
 		&_btn_left{right:-61px;background-image: url('../../i/btn_slider_bk3_right.png');}
	}

	&_content_carossel_slick{margin-top:30px;}

	&_content_title{
		margin-top:98px;
		font-size: 24px;
  	font-family: "OpenSansextrabold";
  	color: rgb( 0, 0, 0 );
  	text-transform: uppercase;
  	text-align:center;
	}

	&_content_carossel_elem{
		.i-content_elem{
			width:305px;
		}

		&_title{
			font-size: 18px;
			font-family: "OpenSansbold";
  		color: rgb( 0, 0, 0 );
		}

		small{color:#8A8A8A; display:block;}

		p{font-family: "OpenSanssemibolditalic"; font-size:17px; margin-top:15px; line-height: 1.3;}
	}

	
}